{% extends "post_template.html" %}

{% block title %}Home{% endblock title %}

{% block heading_2 %}
    Recent Posts
{% endblock heading_2 %}

{% block section %}
    {% for article in articles %}
        <article class="flex-col p-2 flex gap-1 text-base md:text-lg border-2 border-yellow-300">
            <h3 class="text-lg md:text-xl font-semibold"><a href="/posts/post_{{ article.id }}">{{ article.title }}</a></h3>
            <p>{{ article.content[:290] }}{% if article.content[290:] %}... <span><a href="/posts/post_{{ article.id }}" class="text-sm underline text-gray-700">Read more</a></span>{% endif %}</p>
        </article>
    {% endfor %}
{% endblock section %}

